.creation{
  margin-top: var(--margin-large);
  img{
    width: 75%;
  }
  article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: var(--padding-thin);
  }
}

@media screen and (min-width: $vw-medium) {
.creation{
  display: flex;
  flex-flow: row wrap;
  article{
    width: 48%;
    margin: 0;
  }
}
}
@media screen and (min-width: $vw-large) {
  .creation{
    article{
      width: 32%;
      margin: 0;
    }
  }
}